DICTIONARY ASSIGNMENT 2

Exercise 1: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [1]:
k = ['Ten', 'Twenty', 'Thirty']
v= ['10','20','30']
d=dict(zip(k,v))
print(d)

{'Ten': '10', 'Twenty': '20', 'Thirty': '30'}

Exercise 2: Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [4]:
d1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict={**d1, **d2}

In [5]:
print(dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [2]:
d1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
d1.update(d2)
print(d1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Exercise 3: Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [10]:
d =  { "class": { "student": { "name": "Mike", "marks": { "physics": 70, "history": 80 } } } }

In [18]:
d['class']['student']['marks']['history']

80


Exercise 4: Initialize dictionary with default values
In Python, we can initialize the keys with the same values.

Given:

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
Expected output:

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [24]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

dict.fromkeys(employees,defaults)

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

Exercise 5: Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
Expected output:

{'name': 'Kelly', 'salary': 8000}

In [26]:
d={ "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
d.values()

dict_values(['Kelly', 25, 8000, 'New york'])

In [27]:
d.keys()

dict_keys(['name', 'age', 'salary', 'city'])

In [28]:
list(d.keys())

['name', 'age', 'salary', 'city']

In [31]:
k=list(d.keys())[0::2]

In [32]:
k

['name', 'salary']

In [34]:
d.items()

dict_items([('name', 'Kelly'), ('age', 25), ('salary', 8000), ('city', 'New york')])

In [35]:
list(d.items())

[('name', 'Kelly'), ('age', 25), ('salary', 8000), ('city', 'New york')]

In [39]:
list(list(d.items()))[::2]

[('name', 'Kelly'), ('salary', 8000)]

In [40]:
dict(list(list(d.items()))[::2])

{'name': 'Kelly', 'salary': 8000}

Exercise 6: Delete a list of keys from a dictionary
Given:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
Expected output:

{'city': 'New york', 'age': 25}

In [40]:
d= { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york" }

In [3]:
d.pop('name')

'Kelly'

In [43]:
d

{'age': 25, 'salary': 8000, 'city': 'New york'}

In [44]:
d.pop('salary')

8000

In [45]:
d

{'age': 25, 'city': 'New york'}

Exercise 7: Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

Given:

sample_dict = {'a': 100, 'b': 200, 'c': 300}
Expected output:

200 present in a dict

In [43]:
d={'a': 100, 'b': 200, 'c': 300} 
d.get('b',' present in a dict')

200

Exercise 8: Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.

Given:

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [54]:
d={ "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
v=d["city"]
d.pop("city")

'New york'

In [55]:
d["location"]=v
d

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [56]:
d

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [57]:
d={ "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
d["location"]=d.pop("city")
d

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}