# LIST ASSIGNMENT

Q1). Reverse a list in Python?

In [2]:
ls=[1,2,3,4,5]

In [3]:
ls.reverse()
ls

[5, 4, 3, 2, 1]

Q2).Concatenate two lists index-wise

In [2]:
ls1=[1,2,3]
ls2=[4,5,6]
ls1+ls2

[1, 2, 3, 4, 5, 6]

Q2).  Turn every item of a list into its square?

In [4]:
ls=[1,2,3,4,5]

In [10]:
for i in ls:
    print(i**2,end=" ")

1 4 9 16 25

In [4]:
ls=[1,2,3,4,5]
r=[]
for i in ls:
    r.append(i**2)
    
r

[1, 4, 9, 16, 25]

In [5]:
ls=[1,2,3,4,5]
r=[]
for i in ls:
    r=r+[i**2]
    
r

[1, 4, 9, 16, 25]

Q3). Exercise 4: Concatenate two lists in the following order
Given:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
output:['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [10]:
ls1=["Hello","take"]
ls2=["Dear","Sir"]

In [11]:
ls1[0] +" " + ls2[0] , ls1[0] + " " + ls2[1], ls1[1] + " "+ ls2[0] , ls1[1] + " " + ls2[1]

('Hello Dear', 'Hello Sir', 'take Dear', 'take Sir')

In [14]:
ls1=["Hello","take"]
ls2=["Dear","Sir"]
ls=[]
for x in ls1:
    for y in ls2:
        ls=ls+[x+" "+y]
print(ls)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Exercise 5: Iterate both lists simultaneously

given:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [17]:
ls1=[10,20,30,40]
ls2=[100,200,300,400]
i=len(ls2)-1
for j in ls1:
    print(j, ls2[i])
    i=i-1

10 400
20 300
30 200
40 100

In [18]:
ls1=[10,20,30,40]
ls2=[100,200,300,400]
i=-1
for j in ls1:
    print(j, ls2[i])
    i=i-1

10 400
20 300
30 200
40 100

In [20]:
ls1=[10,20,30,40]
ls2=[100,200,300,400]
for data in zip(ls1,ls2[::-1]):
    print(data)

(10, 400)
(20, 300)
(30, 200)
(40, 100)

Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
output:
["Mike", "Emma", "Kelly", "Brad"]

In [31]:
ls= ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [38]:
ls.pop(1)

''

In [39]:
ls

['Mike', 'Emma', 'Kelly', '', 'Brad']

In [41]:
ls.pop(3)

''

In [42]:
ls

['Mike', 'Emma', 'Kelly', 'Brad']

In [40]:
ls= ["Mike", "", "Emma", "Kelly", "", "Brad"] 
for s in ls:
    if not s:
        ls.remove(s)
ls

['Mike', 'Emma', 'Kelly', 'Brad']

In [42]:
ls= ["Mike", "", "Emma", "Kelly", "", "Brad"] 
count=ls.count("")
for i in range(count):
    ls.remove("")
ls

['Mike', 'Emma', 'Kelly', 'Brad']

Exercise 7: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
given:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

output:[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [47]:
a=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [50]:
a[2][2]=a[2][2]+[7000]

In [51]:
a

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Exercise 8: Extend nested list by adding the sublist?

In [55]:
ls=[1,2,3,4]

In [56]:
ls

[1, 2, 3, 4]

In [57]:
ls2=[5,4,8,9]

In [58]:
ls2

[5, 4, 8, 9]

In [71]:
def extends(ls,ls2):
    return ls,ls2

In [72]:
extends(ls,ls2)

([1, 2, 3, 4], [5, 4, 8, 9])

Exercise 9: Replace listâ€™s item with new value if found

list1 = [5, 10, 15, 20, 25, 50, 20]
out:[5, 10, 15, 200, 25, 50, 20]

In [73]:
ls= [5, 10, 15, 20, 25, 50, 20]

In [75]:
ls[3]=200

In [76]:
ls

[5, 10, 15, 200, 25, 50, 20]

Exercise 10: Remove all occurrences of a specific item from a list.

Given a Python list, write a program to remove all occurrences of item 20.

Given:

list1 = [5, 20, 15, 20, 25, 50, 20]
out:
[5, 15, 25, 50]

In [77]:
ls = [5, 20, 15, 20, 25, 50, 20]
a=20

for i,v in enumerate(ls):
    
    if v==a:
        del ls[i]

In [78]:
ls

[5, 15, 25, 50]