# TEST BY VIVEK THAKUR

1. Print a list with the help of while loop.
Days = [“Sunday”, “Monday”, “Tuesday”, “Wednesday”, “Thursday”, “Friday”, “Saturday”]

In [1]:
days = 0
week = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
while days < 7:
    print(week[days])
    days= days + 1

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Calculate Area of circle?

In [2]:
r=14
pi=(22/7)

area= pi*(r**2)
print("The area is : ", area)

The area is :  616.0

find the number is positive, negative and zero?

In [3]:
n= int(input("Enter any number ? "))

if n>0:
     print("positive")
elif n<0:
   print('negative')
else:
   print('zero')

Enter any number ? 0
zero

Print first twenty natural number?

In [5]:
for i in range(1,21):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

Create function and print table of any random number?

In [8]:
a=int(input("enter any number? "))

for i in range(1,11):
    print(i*a)

enter any number? 17
17
34
51
68
85
102
119
136
153
170

Create two function and calculate Simple Interest and Volume of Cuboid. And call first
Cuboid then Simple interest.

In [36]:
def x(p,r,t):
    si=p*r*t/100
    return si
def y(l,b,h):
    volume=l*b*h
    return volume

a=y(10,2,3)
b=x(1000,10,2)
print(a)
print(b)

60
200.0

Print a list with the help of range() and len() function.

In [1]:
a=[1,2,3,4]
for i in range(len(a)):
    print(i)

0
1
2
3

Create a function and Sort this list.
Series = [100,45,67,23,89,0,2,87,3,10,34]

In [10]:
def func():
    v = [100,45,67,23,89,0,2,87,3,10,34]
    return sorted(v)

In [12]:
func()

[0, 2, 3, 10, 23, 34, 45, 67, 87, 89, 100]

Add second set items into the first set.
First set = {“Apple”,”Banana”,”Cherry”,”Mango”}
Second set = {1,2,3,4,5,6,7,8,9,10}

In [8]:
a= {"Aple","Banana","Cherry","Mango"} 
b={1,2,3,4,5,6,7,8,9,10}

c = a.union(b)
print(c)

{1, 'Aple', 'Cherry', 'Mango', 2, 3, 4, 5, 6, 'Banana', 7, 8, 9, 10}

In [9]:
a={'Apple','Banana','Cherry','Mango'}
b={1,2,3,4,5,6,7,8,9,10}
c=list(a)
d=list(b)
c+d

['Mango', 'Banana', 'Cherry', 'Apple', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Join two sets
A = {1,2,3,4,5,6,7,8,}
B = {“a”,”b”,”c”,”d”,”e”,”f”}

In [5]:
setA = {1,2,3,4,5,6,7,8,}
setB = {"a","b","c","d","e","f"}

setc= setA.union(setB)
print(setc)

{'d', 1, 2, 3, 4, 5, 6, 7, 8, 'e', 'c', 'a', 'b', 'f'}

Change the value “Age” of this dictionary.
Student = {
“Name” : “Alia”
“Age” : 16
“Roll_No” : 24
“School” : “XYZ}

In [15]:
d= { "Name" : "Alia", "Age" : 16, "Roll_No" : 24, "School" : "XYZ"}

d["Age"]=20

d

{'Name': 'Alia', 'Age': 20, 'Roll_No': 24, 'School': 'XYZ'}

Print all the values of this dictionary one by one.

In [12]:
d= { "Name" : "Alia", "Age" : 16, "Roll_No" : 24, "School" : "XYZ"}
d.values()

dict_values(['Alia', 16, 24, 'XYZ'])

Return third, fourth and fifth items
Days = (“Sunday”, “Monday”, “Tuesday”, “Wednesday”, “Thursday”, “Friday”, “Saturday”)

In [5]:
d= ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
s= d[2] + " " +  d[3] + " " + d[4]
s

'Tuesday Wednesday Thursday'

Unpack this tuple with the help of * asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

In [6]:
fruits= ("apple", "banana", "cherry", "strawberry", "raspberry")

(red, yellow, *pink) = fruits

print(red)
print(yellow)
print(pink)

apple
banana
['cherry', 'strawberry', 'raspberry']

Add “Orange” in this set with the help of constructor .
fruits = {"apple", "banana", "cherry"}

In [27]:
fruits = {"apple", "banana", "cherry"}
k=list(fruits)
k

['apple', 'banana', 'cherry']

In [29]:
fruit=["orange"]
x=k+fruit
x

['apple', 'banana', 'cherry', 'orange']

Create a Parent class and create two functions in this parent class first function print “Gud
Morning”, statement and second function will do multiply with the help of two variables, use here
self and __init__ function then create child class and make two functions in this class first function
will print a list with the help of for loop and in second function will find the exponent with two
variables. Use Super() method here.

In [10]:
class x:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        self.mul=a*b
    def P(self):
        print('good morning')
        
class y(x):
    def __init__(self,a,b,p,q):
        super(). __init__(a,b)
        self.p=p
        self.q=q
        self.exp=p**q
        
    def Z(self):
        v=[1,2,3,'Vivek']
        print(v)
                
t=y(10,20,2,2)
print(t.mul)
t.P()
print(t.exp)
t.Z()

200
good morning
4
[1, 2, 3, 'Vivek']

19. Do the type conversion in python.
 23 change this int into float.
 13.4 change this float into complex number.

In [11]:
x=23
y=float(x)
y

23.0

In [12]:
x=13.4
y=complex(x)
y

(13.4+0j)

20. Create a Calculation Class and do addition, multiplication, subtraction and create two objects
in this programme.

In [6]:
class x:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        self.add=a+b
        self.mul=a*b
        self.sub=a-b
        
        
t=x(20,30)
t1=x(60,50)
print(t.add)
print(t.mul)
print(t.sub)
print('Second object : ', t1.add)
print('Second object : ', t1.mul)
print('Second object :' , t1.sub)

50
600
-10
Second object :  110
Second object :  3000
Second object : 10